/* -------------------------------------------------------------------------- */
/*                              CUSTOM PROPERTIES                             */
/* -------------------------------------------------------------------------- */
:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;

    /* font-size */
    --fs-900: 9.375rem; /* 150 */
    --fs-800: 6.25rem; /* 100 */
    --fs-700: 3.5rem; /* 56 */
    --fs-600: 2rem; /* 32 */
    --fs-500: 1.75rem; /* 28 */
    --fs-400: 1.125rem; /* 18 */
    --fs-300: 1rem; /* 16 */
    --fs-200: 0.875rem; /* 14 */

    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}


/* -------------------------------------------------------------------------- */
/*                                    RESET                                   */
/* -------------------------------------------------------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
a,
span,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* Set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-dark));
    color: hsl(var(--clr-white));
    line-height: 1.5;
    min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Make form easier to work with */
input,
textarea,
button {
    font: inherit
}

a {
    text-decoration: none;
    color: inherit;
    font: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* remove animations for people who've turned them off */

@media (prefers-reduced-motion: reduce) {  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* -------------------------------------------------------------------------- */
/*                               UTILITY CLASSES                              */
/* -------------------------------------------------------------------------- */
/* general */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* Spacing */
/* select the element that have a sibling before */
/* That's why EARTH is not selectionned */
/* .flow > *:not(:first-child) */
/* .flow > *:where(:not(:first-child)) */
.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.container {
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 2em;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

/* Colors */
.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }


.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-size: var(--fs-500);
    text-transform: uppercase;
    font-family: var(--ff-sans-cond);
    letter-spacing: 4.72px;
}

.numbered-title span {
    color: hsl( var(--clr-white) / .25 );
    font-weight: 700;
    margin-right: .5em;
}


/* -------------------------------------------------------------------------- */
/*                                 COMPONENTS                                 */
/* -------------------------------------------------------------------------- */

.large-button {
    position: relative;
    padding: 0 2em;
    display: grid;
    z-index: 1;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
}

.large-button::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: hsl( var(--clr-white) / .25 );
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;

}

.large-button:hover::after,
.large-button:focus::after {
    transform: scale(1.5);
    opacity: 1;
}

.primary-navigation {
    --gap: 8rem;
    --underline-gap:2rem;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-right: .5em;
}

.underline-indicators > *{
    padding: var(--underline-gap, 1em) 0;
    border: 0;
    cursor: pointer;
    border-bottom: .2rem solid hsl(var(--clr-white) / 0);

}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl(var(--clr-white) / 50%);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl(var(--clr-white) / 100%);
    border-color: hsl(var(--clr-white) / 100%);
}

.tab-list {
    --gap: 3rem;
}

.dot-indicators > * {
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    aspect-ratio: 1;
    padding: .5rem;
    background-color: hsl( var(--clr-white) / .25 );
}

.dot-indicators > *:hover,
.dot-indicators > *:focus {
    background-color: hsl( var(--clr-white) / .5 );
}

.dot-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 100%);
}

.numbers-indicators > * {
    display: grid;
    place-items: center;
    cursor: pointer;
    border: 1px solid hsl( var(--clr-white) / .25 );
    border-radius: 50%;
    aspect-ratio: 1;
    width: 25%;
    color: hsl( var(--clr-white) );
    background-color: transparent;
}

.numbers-indicators > *:hover,
.numbers-indicators > *:focus {
    border-color: hsl(var(--clr-white) / 100%);
}

.numbers-indicators > .active,
.numbers-indicators > [aria-selected="true"] {
    background-color: hsl(var(--clr-white) / 100%);
    color: hsl( var(--clr-dark) );
}

